---
layout: base.njk
---

{% icon "lucide:star" %}
{% icon "lucide:star", stroke="#ed8a19", class="starry-night" %}
{% icon "lucide:star", '{ "stroke": "#ed8a19", "class": "starry-night" }' %}
{% icon "lucide:star", { "stroke": "#ed8a19", "class": "starry-night" } %}


{% icon "empty" %}
{% icon "xml-comment" %}
{% icon "xml-doctype" %}
{% icon "not-an-icon" %}
{# {% icon "not-a-source:not-an-icon" %} #}

{% spriteSheet %}
