{% inline "lucide:star", stroke="#ed8a19", class="starry-night" %}
{% inline "lucide:star", '{ "stroke": "#ed8a19", "class": "starry-night" }' %}
{% inline "lucide:star", { "stroke": "#ed8a19", "class": "starry-night" } %}
