This is an empty icon:
{% inline "empty" %}
This one has a few comments that should be preserved in the output:
{% inline "xml-comment" %}
This one has an XML doctype that should be removed:
{% inline "xml-doctype" %}
